{% extends 'base.html' %}
{% block profession %}
    <h1>Записи в блоге</h1>
    {% if current_user.is_authenticated %}
        <a href="news" class="btn btn-secondary">Добавить новость</a>
    {% endif %}
    {% for post in posts %}
        {% if not post.is_private or post.user == current_user %}
            <h2>{{ post.title }}</h2>
            <p> {{ post.content }} </p>
            <p> Автор - {{ post.user.name }}, Дата написания - {{ post.created_date }}</p>
            {% if current_user.is_authenticated and current_user == post.user %}
                <div>
                    <a href="/news/{{ post.id }}" class="btn btn-warning">
                        Изменить
                    </a>
                    <a href="/news_delete/{{ post.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
